<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../../static/app/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
</head>
<body>
<h1>UniMatch</h1>

<form>
    <label for="username">USERNAME:</label><br>
    <input type="text" id="username" name="username"><br>

    <label for="password">PASSWORD:</label><br>
    <input type="password" id="password" name="password"><br>

    <a href="../logged-in/course-finder/course-finder.html" class="button">LOGIN</a>
</form>

<div class="extra-options">
    <p>DON'T HAVE AN ACCOUNT? <a href="../sign-up/sign-up.html">SIGN UP</a></p>
    <em>OR</em>
    <p><a href="../guest/course-finder/course-finder.html">CONTINUE AS GUEST</a></p>
</div>

<img src="../../../static/app/images/login-images/logo.svg" class="logo" alt="logo">
</body>
</html>